body { font-size: 1.2em; }
div.app { margin-top: 2%; }
ul.searchList { width: 100%; margin: 1%; }
ul.searchList span.thumb { display: inline-block; width: 100%; }
ul.searchList span.thumb img { width: 15%; }
